@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;600&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --bg-color: #05203E;
    --accent-color: #03C988;
    --accent-color2: #BDCAD8;
}

html {
    font-family: 'Source Code Pro', monospace;
    font-size: 24px;
}

body {
    background-color: var(--bg-color);
}

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    margin: 36px 0;
    padding: 0 60px;
}

header nav {
    display: flex;
    align-items: center;
    gap: 4rem;
}

main {
    margin: 0 180px;
    padding-top: 96px;
    display: flex;
    height: 100vh;
}

.btn {
    background-color: transparent;
    filter: drop-shadow(9px 9px 12px rgba(0, 0, 0, 0.25));
    border: 6px solid #03C988;
    border-radius: 15px 0px;

    color: var(--accent-color);
    font-family: 'Source Code Pro', monospace;
    font-weight: 600;
    font-size: 1rem;

    width: 210px;
    height: 60px;
}

.btn-filled {
    background-color: #03C988;
    border: none;
    box-shadow: 9px 6px 24px 12px rgba(3, 201, 136, 0.25);
    border-radius: 15px 0px;

    color: black;
    font-family: 'Source Code Pro', monospace;
    font-weight: 600;
    font-size: 1rem;

    width: 210px;
    height: 60px;
}

.menu-btn {
    display: none;
    border: none;
    appearance: none;
    background-image: url("images/menu-icon.png");
    background-size: contain;
    background-color: inherit;
    background-repeat: no-repeat;
    width: 51px;
    height: 39px;
}

.nav-list {
    list-style-type: none;
}

.nav-list-item {
    display: inline-block;
    color: var(--accent-color2);
    font-size: calc(1rem - 3px);
    margin-left: 1rem;
}

.nav-list-item-number {
    color: var(--accent-color);
}

.main-left-container {
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 96px);
    justify-content: space-between;
}

.main-middle-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.main-right-container {
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    height: 100;
    align-items: flex-end;
    justify-content: space-between;
}

.main-left-box1, .main-right-box3 {
    flex-basis: 35%;
}

.main-left-box2, .main-right-box2 {
    flex-basis: 50%;
}

.main-left-box3, .main-right-box1 {
    flex-basis: 15%;
}

.main-middle-container > .btn-filled {
    margin-top: 40px;
}

.main-middle-container > h1 {
    color: #BDCAD8;
    text-align: center;
}

.main-middle-container > p {
    color: #8892B0;
    max-width: 500px;
    text-align: center;
}

.main-middle-welcome-text-container p {
    color: #70C7EE;
}

.main-middle-welcome-text-container h1 {
    font-size: 96px;
    color: #03C988;
}

.main-middle-arrow-down {
    position: fixed;
    bottom: 30px;
}

.main-left-text, .main-right-text {
    color: #8892B0;
    max-width: 16px;
}

.social-nav {
    position: fixed;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    left: 75px;
    gap: 20px;
}

.social-nav-icon {
    align-self: center;
}

@media (max-width: 1244px) {
    .nav-list, .nav_btn {
        display: none;
    }

    .menu-btn {
        display: unset;
    }

    main {
        margin: 0 80px;
    }

    .main-left-container {
        justify-content: center;
    }

    .main-right-container {
        justify-content: center;
    }

    .main-right-box1, .main-right-box3 {
        display: none;
    }

    .main-left-box1, .main-left-box3 {
        display: none;
    }

    .main-middle-container > h1 {
        font-size: 30px;
        max-width: 90%;
    }
    
    .main-middle-container > p {
        font-size: 15px;
        max-width: 80%;
    }

    .main-middle-arrow-down {
        display: none;
    }

    .main-middle-welcome-text-container p {
        font-size: 15px;
    }
    
    .main-middle-welcome-text-container h1 {
        font-size: 64px;
        color: #03C988;
    }

    .social-nav {
        left: 70px;
    }
}

@media (max-width: 650px) {
    .social-nav {
        display: none;
    }
}

@media (max-width: 550px) {
    header {
        padding: 0 30px;
    }

    main {
        margin: 0 30px;
    }
}

@media (max-width: 480px) {
    .btn-filled {
        height: 36px;
        width: 120px;
        font-size: 15px;
    }

    .main-middle-container {
        gap: 10px;
    }

    .main-middle-container > .btn-filled {
        margin-top: 20px;
    }

    .main-middle-container > h1 {
        font-size: 24px;
        max-width: 90%;
    }
    
    .main-middle-container > p {
        font-size: 12px;
        max-width: 80%;
    }

    .main-middle-welcome-text-container p {
        font-size: 12px;
    }
    
    .main-middle-welcome-text-container h1 {
        font-size: 48px;
        color: #03C988;
    }
}

@media (max-width: 350px) {
    .main-left-container {
        display: none;
    }

    .main-right-container {
        display: none;
    }
}